@import './variables.scss';

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';

:root {
	height: 100%;
	--font-body: 'Poppins', sans-serif;
	--font-weight-semibold: 600;
	--font-size-base: 16px;
	--color-black: rgba(0, 0, 0, 0.87);
	--color-white: rgba(255, 255, 255, 0.87);
	--color-text: var(--font-body);
	--color-primary: #dd5f01;
	--color-accent: #6c517d;
	--color-bg-body: #ece6ff;
	--color-bg-card: #f5f5f5;
	--min-width-small: 576px;
	--min-width-medium: 768px;
	--min-width-large: 992px;
	--min-width-extra-large: 1200px;
	font-family: var(--font-body);
	font-size: var(--font-size-base);
	color: var(--color-text);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100%;
	display: flex;
	background-color: var(--color-bg-body);
	margin: 0;
}

.text-large {
	font-size: 46px;
	font-weight: var(--font-weight-semibold);
	line-height: 55.2px;
}

.text-small {
	font-size: 19px;
	font-weight: var(--font-weight-semibold);
	line-height: 30.4px;
}

.text-primary {
	color: var(--color-primary);
}

.text-semibold {
	font-weight: var(--font-weight-semibold);
}

.animate-slide-in {
	animation: slide-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate-pulsate {
	animation: pulsate 3s ease-in-out infinite both;
}

.animate-wiggle {
	animation: wiggle 3s ease-in-out infinite both;
}

@keyframes slide-in {
	0% {
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}
	
	100% {
		transform: scale(1);
	}
}

@keyframes wiggle {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-15px);
	}
	
	100% {
		transform: translateX(0);
	}
}

@media (max-width: $medium-breakpoint) {
	:root {
		--font-size-base: 14px;
	}

	body {
		background-color: var(--color-bg-card);
	}

	.text-large {
		font-size: 26px;
		line-height: 31.2px;
	}
}