@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';

:root {
	height: 100%;
	--font-body: 'Poppins', sans-serif;
	--font-weight-semibold: 600;
	--font-size-base: 16px;
	--color-black: rgba(0, 0, 0, 0.87);
	--color-white: rgba(255, 255, 255, 0.87);
	--color-text: var(--font-body);
	--color-primary: #4622a5;
	--color-accent: #e0e0e0;
	--color-bg-body: #ece6ff;
	font-family: var(--font-body);
	font-size: var(--font-size-base);
	color: var(--color-text);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100%;
	display: grid;
	background-color: var(--color-bg-body);
}

.text-large {
	font-size: 46px;
	font-weight: var(--font-weight-semibold);
	line-height: 55.2px;
}

.text-small {
	font-size: 19px;
	font-weight: var(--font-weight-semibold);
	line-height: 30.4px;
}

.text-primary {
	color: var(--color-primary);
}

.text-semibold {
	font-weight: var(--font-weight-semibold);
}