@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';

:root {
	height: 100%;
	--font-body: 'Poppins', sans-serif;
	--font-weight-semibold: 600;
	--font-size-base: 16px;
	--color-black: rgba(0, 0, 0, 0.87);
	--color-white: rgba(255, 255, 255, 0.87);
	--color-text: var(--font-body);
	--color-primary: #2e7d32;
	--color-bg-body: #c8e6c9;
	font-family: var(--font-body);
	font-size: var(--font-size-base);
	color: var(--color-text);
}

body {
	height: 100%;
	display: grid;
	background-color: var(--color-bg-body);
}